---
---

$pattern: "{{ site.baseurl }}/images/pattern.png";
$screenshot-buttons: "{{ site.baseurl }}/images/screenshot-buttons.svg";

$brand-color: #FFA715;
$light: #FFF5EB;
$dark: #1C1C1C;
$red: #FF7559;
$blue: #022266;
$html-background-color: #fff;
$secondary-brand-color: #FFC461;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

$alt-font: termina, sans-serif;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$small: "(min-width: 450px)";
$medium: "(min-width: 620px)";
$medium-down: "(max-width: 620px)";
$large: "(min-width: 768px)";
$large-down: "(max-width: 768px)";
$xlarge: "(min-width: 1200px)";

// Home Animation
$col: 16.6666666667%;
$row: 25%;

@mixin move1 {
  width: $col * 6;
  left: 0;
  height: $row * 4;
  top:0;
}
@mixin move2 {
  width: $col * 2;
  left: $col * 2;
  height: $row * 3;
  top: $row * 1;
}
@mixin move3 {
  width: $col * 4;
  height: $row * 3;
  left: $col * 2;
  top: 0;
}
@mixin move4 {
  width: $col * 2;
  height: $row * 3;
  left: $col * 4;
  top: $row * 1;
}

@mixin move5 {
  width: $col * 4;
  left: 0;
  height: $row * 2;
  top: $row * 1;
}
@mixin move6 {
  width: $col * 2;
  left: 0;
  height: $row * 4;
  top: 0;
}

@import "elements";
@import "layout";
@import "home";
@import "contact";
@import "projects";
@import "blog";
@import "forms";
@import "header";
@import "footer";
@import "cloudcannon";
