---
title: Portfolio
heading: Our Work
subtitle: See some of our proud customers with exemplary results.
---

<section class="project-list">
	<div class="container">
			{% for project in site.projects %}
				<div class="project-list--item">
						<div class="project-list--item-details">
							<h5 class="project-category">{{ project.categories }}</h5>
							<h2 class="project-title">{{ project.name }}</h2>
							<a href="{{ site.baseurl }}{{ project.url }}" class="btn">View Project</a>
						</div>
						<div class="project-list--item-image">
						<a href="{{ site.baseurl }}{{ project.url }}" class="cover-link">
							<img src="{% include relative-src.html src=project.image_path %}" alt="{{ project.name }}">
						</a>
					</div>
				</div>
			{% endfor %}
	</div>
</section>
