.intro {
  background: $light;
  border: 2px solid $dark;
  padding: 1.5rem;
  @media #{$large} {
    padding: 3rem;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr;
    grid-gap: 3em;
  }
  @media #{$xlarge} {
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: 1fr;
    grid-gap: 3em;
    padding: 4rem;
  }
  .intro--text {
    padding-bottom: 1.5rem;
    @media #{$medium} {
      padding-bottom: 2.5rem;
    }
  }
  h1 {
    font-size: 1.55rem;
    padding-bottom: 1.5rem;
    font-family: $font;
    color: $blue;
    line-height: 1.5;
    @media #{$medium} {
      font-size: 1.8rem;
      padding-bottom: 2.5rem;
    }
    span {
      font-family: $alt-font;
    }
    a {
      color: $blue;
      text-decoration: underline;
    }
  }
}

.home.intro {
  @media #{$large} {
    display: block;
  }
  @media #{$mlarge} {
    display: flex;
  }
  .container {
    @media #{$mlarge} {
      display: flex;
      max-width: 1400px;
      margin: 0 auto;
      align-content: flex-start;
      align-items: flex-start;
    }
  }
  .intro--text {
    // @media #{$large} {
    //     width: 50%;
    //     padding-right: 3rem;
    // }
    @media #{$mlarge} {
      width: 50%;
      padding-right: 2rem;
   }
   @media #{$xlarge} {
    width: 40%;
    padding-right: 3rem;
 }
  }
  .intro--image {
    // @media #{$large} {
    //   width: 50%;
    //   height: 100%;
    // }
    @media #{$mlarge} {
      width: 50%;
      height: auto;
    }
    @media #{$xlarge} {
      width: 60%;
      
    }
  }
}

.intro--image {
  line-height:0;
  position: relative;
  &:before {
    content: '';
    background: rgba(255, 251, 247, 0.3);
    border: 4px solid $yellow;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    -webkit-transition: all .4s cubic-bezier(.45,.05,.55,.95);
    transition: all .4s cubic-bezier(.45,.05,.55,.95);
    animation: moveIt 7s forwards 3;
    @media #{$medium} {
      border: 6px solid $yellow;
      top: 15px;
      left: 15px;
    }
  }
}

@keyframes moveIt {
  0%   { @include move1; }
  16.7% { @include move2; }
  33.4% { @include move3; }
  50.1% { @include move4; }
  66.8% { @include move5; }
  83.5% { @include move6; }
  //85.5% { @include move7; }
  100% { @include move1; }
}