---
layout: default
---
{% assign blog = site.pages | where: "path", "blog/index.html" | first %}

<section class="post-list">
		<div class="container">
			<div class="blog-intro">
				<h1><a href="{{ site.baseurl }}/blog/">{{ blog.heading }}</a> / {{ page.title | capitalize }}</h1>
			</div>
			{% include list-posts.html posts=page.posts %}
		</div>
	</section>
	
	{% if paginator.total_pages > 1 %}
		<section class="diagonal alternate">
			<!-- Pagination links -->
			<div class="pagination">
				{% if paginator.previous_page %}
					<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
				{% endif %}
	
				<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
	
				{% if paginator.next_page %}
					<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
				{% endif %}
			</div>
		</section>
	{% endif %}
	